body {
    background: rgb(70, 130, 150);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    text-align: center;
    color: white;
}

div {
    text-align: center;
}